:root {
    --white: #fff;
    --nav-active-bg: #fff;
    --nav-active-color: #344767;
    --nav-color: #67748e;
    --icon-active-bg: #17C1E8;
    --color-dark: #252F40
}

body {
    background-color: #F8F9FA;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-primary {
    background-color: #17C1E8 !important;
}

.bg-dark-blue {
    background-color: #344767 !important;
}

.bg-brand-danger {

    background-color: #E53E3E;
}

.color-brand-danger {
    color: #E53E3E
}

a {
    text-decoration: none;
    color: inherit;
}

#sidebar {
    height: 100vh;
    transition: all .3s;
    overflow-y: scroll;
    margin-left: 0;
    box-shadow: var(--bs-box-shadow) !important;
}

#sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    opacity: .6;
}

#sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    opacity: .6;
}

#sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(52, 71, 103, .6);
    opacity: .6;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.mobile {
    margin-left: 0px !important;
}


@media (max-width: 1200px) {
    #sidebar {
        background-color: var(--white) !important;
        position: absolute;
        margin-left: -280px !important;
        z-index: 99;
        box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    }

    #sidebar::-webkit-scrollbar-track {
        display: none;
    }

    #sidebar::-webkit-scrollbar {
        display: none;
    }

    #sidebar::-webkit-scrollbar-thumb {
        display: none;
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    .nav-container {
        grid-template-columns: 1fr 2fr;
    }
}

.nav-item.nav-label {
    opacity: .6;
    color: #344767;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 18px */
}

.nav-link {
    color: var(--gray-gray-400, #A0AEC0);
    font-family: "Open sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-radius: 8px;
    /* 18px */
    padding: 15px
}

.nav-icon {
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    background-color: #fff;
    transition: .3s all;
    text-align: center;
    width: 30px;
}

.nav-link.active .nav-icon

/* .nav-link:hover .nav-icon  */
    {
    font-weight: 800;
    background-color: var(--icon-active-bg);
    color: var(--white)
}

.nav-link:focus {
    color: #A0AEC0
}

.nav-link.active {
    font-weight: 700;
    font-family: (--bs-font-sans-serif);
    color: var(--nav-active-color) !important;
    background-color: var(--nav-active-bg) !important;
    border-radius: 15px;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

.nav-link:hover {

    color: var(--gray-gray-400, #A0AEC0);
}

.sidenav-brand {
    color: #2D3748;
    font-family: Helvetica;
    font-size: .875rem !important;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    opacity: .6;
    /* 21px */
}

hr.sidenav-divider {
    border-top: 1px solid rgba(224, 225, 226, 0.9);
}


.input-search {
    border-radius: 15px;
    border: 0.5px solid var(--gray-gray-200, #E2E8F0);
    background: var(--black-amp-white-white, #FFF);
}

.nav-search {
    color: #252F40;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.387px;
}

.nav-top {
    border-radius: 15px !important;
}


.dropdown-header {
    font-family: Helvetica !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 150% !important;
    /* 18px */
    background-color: var(--icon-active-bg) !important;
    border: none !important;
}


.dropdown {
    position: static
}

.dropdown .dropdown-menu {
    width: calc(100% - 1.5rem);
    right: .75rem
}

.dropdown .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden
}

.dropdown .dropdown-list .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff
}

.dropdown .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem
}

.dropdown .dropdown-list .dropdown-item .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem
}

.dropdown .dropdown-list .dropdown-item .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem
}

.dropdown .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    height: .75rem;
    width: .75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: .125rem solid #fff
}

.dropdown .dropdown-list .dropdown-item .text-truncate {
    max-width: 10rem
}

.dropdown .dropdown-list .dropdown-item:active {
    background-color: #eaecf4;
    color: #3a3b45
}

@media(min-width: 576px) {
    .dropdown {
        position: relative
    }

    .dropdown .dropdown-menu {
        width: auto;
        right: 0
    }

    .dropdown-list {
        width: 20rem !important
    }

    .dropdown-list .dropdown-item .text-truncate {
        max-width: 13.375rem
    }
}

.notif-date, .message-details {
    color: #252F40;
    font-family: "Open sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.387px;
    opacity: .4;
}

.icon-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.notif-title {
    color: #252F40;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.443px;
}

.view-notif {
    color: var(--gray-gray-400, #A0AEC0);
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.message-content {
    color: #252F40;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.443px;
}

.user-links {
    color: var(--gray-gray-500, #718096);
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 18px */
}

.user-links:hover {
    background-color: var(--white);
}

.user-links .icon {
    background-color: var(--white);
}

.breadcrumb-item {
    color: var(--gray-gray-400, #A0AEC0);
    font-family: "Open sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */
}

.breadcrumb-item.active {
    color: var(--gray-gray-700, #2D3748);
    font-family: "Open sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}


.clinic-dropdown .icon {
    width: 3rem;
    height: 3rem;
}

.clinic-dropdown .icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    background-color: #17C1E8;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    background-clip: border-box;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
}

.bg-active {
    background-color: #17C1E8 !important;
}

.card-body {
    padding: 1.5rem;
    flex: 1 1 auto;
}

.card-body .h2 {
    color: #252F40;
    font-family: "Open sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.553px;
}

.card-title {
    margin-bottom: 1.25rem;
    color: #67748E;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.387px;
    opacity: .6;
}

.card-stats .card-body {
    padding: 1rem 1.5rem;
}

.clinic-dropdown-item {
    color: #67748E;
    font-family: "Open sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.443px;
    transition: .3s all;
    border-radius: 16px;
    padding: 12px
}

.clinic-dropdown-item:hover {
    background-color: var(--white);
}

.dropdown-menu {
    border-radius: 16px;
    background-color: #F8F9FA;
    transform: .3s all ease-in-out;
}

@media (min-width: 200px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.clinic-modal-title {
    color: var(--white);
    font-family: "Open sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.36px;
}

.clinic-modal-button {
    min-width: 80px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #17C1E8;
    color: var(--white);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.12);
    border: none;
    font-family: "Open sans";
}

.clinic-modal-button.success {
    background-color: #48BB78;
}

.clinic-modal-button.danger {
    background-color: #E53E3E;
}

.clinic-modal-button.primary {
    background-color: #17C1E8;
}

.border-right-0 {
    border-right: 0px !important;
}

.border-left-0 {
    border-left: 0px !important;
}

.border-bottom-0 {
    border-bottom: 0px !important;
}

.border-top-0 {
    border-top: 0px !important;
}

.form-label {
    color: #252F40;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 800 !important;
    line-height: normal;
    letter-spacing: -0.387px;
}

.clinic-modal-input {
    color: #252F40;
    font-family: "Open sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.443px;
    opacity: .6;
}

.clinic-status-dropdown:hover {
    border-radius: 16px;
    background-color: #fff !important;
}

.clinic-archive-modal-header-icon {
    font-size: 64px !important;
}

.archive-clinic-modal-header {
    color: #344767;
    font-family: "Open sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
}

.archive-clinic-modal-description {
    color: #67748E;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.332px;
}

button.add-clinic {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.387px;
    font-family: "Open sans";
    padding: 8px 12px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 0;
    background: #17C1E8;
    color: var(--white);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.12);
    transition: .3s all ease-in-out;
}

button.add-clinic:hover {
    background-color: #0F809A;
}

.patients-table {
    overflow: hidden;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid transparent;
    border-radius: 12px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
    padding: 0px
}

.patients-table tr th.main {
    text-align: left;
}

.patients-table thead tr {
    color: #8392AB !important;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.387px;
    color: #000;
    text-align: center;
}

.patients-table td {
    text-align: center;
}

.patients-table thead tr th {
    color: var(--gray-gray-400, #A0AEC0);
    font-family: "Open sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 15px */
    border-bottom: 1px solid rgba(243, 243, 243, .6);
}

.patients-table tr td.main {
    color: #363636;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 19.6px */
    /* 19.6px */
    text-align: left;
}

.patients-table tr td {
    color: #8392AB;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    text-align: center;
}

.patients-table th,
.patients-table td {
    padding: 12px 15px;
    color: #8392AB;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.387px;
}

.patients-table tr {
    background-color: #fff;
}

.patients-table tbody tr:hover {
    background-color: #F8F9FA;
}

.patients-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* 
.patients-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.patients-table tbody tr:last-of-type {
    border-bottom: 2px solid #2D3748;
}

.patients-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.patient-table-patient-name {
    color: #363636;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.387px;
}

.patient-table-patient-sub {
    color: #8392AB;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.387px;
}

.patient-table-patient-doctor {
    color: #8392AB !important;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    text-align: center;
}

.patient-table-patient-procedure {
    color: #8392AB;
    font-family: "Open sans";
    font-weight: 500;
    opacity: .6;
}

button.add-patient {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.387px;
    font-family: "Open sans";
    padding: 8px 12px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 0;
    background: #17C1E8;
    color: var(--white);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.12);
    transition: .3s all ease-in-out;
}

button.add-patient:hover {
    background-color: #0F809A;
}

input.new-patient-modal-date {
    color: #8392AB;
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.387px;
}

input[type="date"].new-patient-modal-date::-webkit-inner-spin-button,
input[type="date"].new-patient-modal-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.new-patient-modal-select
{
    
}